* {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

.box-for-header {
    display: flex;
    flex-direction: row;
    gap: 218px;
    justify-content: center;
    padding-top: 33px;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 25px;
}

.order-header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: #212121;

}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: #757575;
    ;
}

header li:hover {
    color: #2196F3;
}