/*Section 1*/

.section1 {
  background: #2f303a;
}

.box-for-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  gap: 40px;
  padding-bottom: 200px;
}

.btn_section1-open {
  width: 216px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700px;
}

.main-title {
  width: 696px;
  text-align: center;
  color: #fff;
  font-size: 44px;
  font-weight: 900px;
}
/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}
.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.btn-modal-send {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.btn-close-modal {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border: 0.5px solid #dddbdb;
  margin-left: 490px;
  margin-top: 8px;
  border-radius: 50%;
}
.btn-modal-send {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 40px;
}
.form-lable {
  display: block;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding-bottom: 28px;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}
textarea {
  resize: vertical;
  min-height: 120px;
}
.conditions-of-the-contract {
  background-color: transparent;
  color: #2196f3;
  text-decoration-line: underline;
  font-size: 14px;
}
.box-for-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chek {
  margin-top: 20px;
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  padding-left: 16px;
  padding-top: 12px;
}
input[type="text"] {
  background-image: url(/img/form/person-black-18dp\ 1.svg);
  background-repeat: no-repeat;
  background-position: 11px;
  padding-left: 30px;
}
input[type="email"] {
  background-image: url(/img/form/email-black-18dp\ 1.svg);
  background-repeat: no-repeat;
  background-position: 11px;
  padding-left: 30px;
}
input[type="tel"] {
  background-image: url(/img/form/phone-black-18dp\ 1.svg);
  background-repeat: no-repeat;
  background-position: 11px;
  padding-left: 30px;
}
.leave-data {
  margin-top: 40px;
  margin-bottom: 12px;
  text-align: center;
}

/*Section2*/
.box-for-cards-section2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding-top: 94px;
}

.card-for-section2 {
  height: 88px;
  width: 270px;
}

.card-for-section2-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
}

.card-for-section2-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
}

.subtitle1 {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-top: 118px;
}

.box-for-images {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 94px;
}
.svg-box {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  width: 70px;
  height: 70px;
}
.img-block {
  position: relative;
}

.absolute {
  position: absolute;
  bottom: 0px;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

/*Section3*/
.section3 {
  background: #f5f4fa;
  padding-bottom: 94px;
}

.subtitle2 {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-top: 94px;
  padding-bottom: 50px;
}

.box-for-cards-section3 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.card {
  width: 270px;
  height: 368px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
}

.ihor {
  width: 270px;
  height: 260px;
}

.member {
  text-align: center;
  padding-top: 30px;
}

.position {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}

.name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
}
