/*Section 1*/
.section1 {
    background: #2F303A;

}

.box-for-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    gap: 40px;
    padding-bottom: 200px;

}

.button-section1 {
    width: 216px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background: #2196F3;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 700px;
}

.main-title {
    width: 696px;
    text-align: center;
    color: #fff;
    font-size: 44px;
    font-weight: 900px;
}

/*Section2*/


.box-for-cards-section2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding-top: 94px;
}

.card-for-section2 {
    height: 88px;
    width: 270px;

}

.card-for-section2-text {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}

.card-for-section2-title {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
}

.subtitle1 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-top: 118px;
}

.box-for-images {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 94px;
}
.svg-box{
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
svg{
    width: 70px;
    height: 70px;
}
.img-block {
    position: relative;
}

.absolute {
    position: absolute;
    bottom: 0px;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.80);
}

/*Section3*/
.section3 {
    background: #F5F4FA;
    padding-bottom: 94px;
}

.subtitle2 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-top: 94px;
    padding-bottom: 50px;
}

.box-for-cards-section3 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;

}

.card {
    width: 270px;
    height: 368px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #FFF;


}

.ihor {
    width: 270px;
    height: 260px;

}

.member {
    text-align: center;
    padding-top: 30px;
}

.position {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.name {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}